* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #111;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: poppins, system-ui, Arial, sans-serif;
}

.wrapper {
	width: 400px;
	background: #0c0c0c;
	padding: 50px;
	color: #fff;
	text-align: center;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper h1 {
	background: #035500;
	width: 70%;
	margin-bottom: 30px;
	text-transform: uppercase;
	border-radius: 8px;
	padding: 10px 0;
}

.wrapper h2 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

input[type="text"] {
	width: 100%;
	height: 45px;
	border-radius: 8px;
	border: none;
	padding: 5px 10px;
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}

button {
	background: #dd0000;
	border: none;
	color: #fff;
	padding: 12px 30px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin-top: 20px;
}

input[type="radio"] {
	display: none;
}

.operators {
	display: flex;
	gap: 10px;
	margin: 20px 0;
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 50px;
	font-size: 22px;
	font-weight: bold;
	background: #1a1a1a;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

input[type="radio"]:checked + label {
	background: #035500;
}

.result-box {
	display: none;              
	flex-direction: column;
	align-items: center;

	background: #035500;
	padding: 16px 20px;
	border-radius: 12px;
	margin-top: 30px;

	max-width: 100%;
	width: fit-content;

	word-break: break-all;
}

.result-box.show {
	display: flex;
}

.result-title {
	font-weight: bold;
	margin-bottom: 8px;
	font-size: 20px;
}

#resultArea {
	font-size: 18px;
	text-align: center;
}
